* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #DAD7CD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "TerselyRegular";
  src: local('TerselyRegular'), url('./fonts/tersely-font/TerselyRegular.ttf') format('woff'), url('./fonts/tersely-font/TerselyRegular.ttf') format('woff2');
}

.navbar-font-color {
  color: #588157;
}

.title-font {
  font-family: TerselyRegular;
  font-size: 50px;
}

.hero-section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 50%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin-right: -250px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.hero-image{
  width: 80%;
  height: 600px;
  background: url(./assets/IMG_4552.jpg) no-repeat center / cover;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

/* Media query for hero section */
@media only screen and (max-width: 768px) {
  .hero-container{
    flex-direction: column;
  }
  .text {
    width: 80%;
    margin: 0;
    margin-bottom: -150px;
    /* position: absolute; */
  }
  .hero-image {
    width: 95%;
  }
}

li {
  list-style-type: none;
}

/* For underline on hover
.link {
  color: black;
  text-decoration: none;
  position: relative;
}

/* 
.link:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0px;
  height: 1px;
  background: #333;
  transition: all 0.45s;
} */

/* .link:hover:after{
  color: #A3B18A;
  width: 100%;
  left: 0;
} */ 

.nav-link{
  text-decoration: none;
}

.nav-link:hover {
  color: #A3B18A
}

.active {
  color: #A3B18A;
  text-decoration: none;
}

.search-bar {
  outline-color: #344E41;
}

/* Search bar hover effect*/
.search-bar:hover {
  border: 2px solid #344E41;
  border-radius: 3px;
}

/* Footer CSS */
.footer {
  background: black;
}

/* Copyright section for footer*/
.copyright {
  background: linear-gradient(0.25turn, #3A5A40, #DAD7CD, #3A5A40);
}