* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #DAD7CD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "TerselyRegular";
  src: local('TerselyRegular'), url('./fonts/tersely-font/TerselyRegular.ttf') format('woff'), url('./fonts/tersely-font/TerselyRegular.ttf') format('woff2');
}

.navbar-font-color {
  color: #588157;
}

.title-font {
  font-family: TerselyRegular;
  font-size: 50px;
}

.hero-section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 50%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  margin-right: -250px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

.hero-image{
  width: 80%;
  height: 600px;
  background: url(./assets/IMG_4552.jpg) no-repeat center / cover;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

/* Media query for hero section */
@media only screen and (max-width: 768px) {
  .hero-container{
    flex-direction: column;
  }
  .text {
    width: 80%;
    margin: 0;
    margin-bottom: -150px;
    /* position: absolute; */
  }
  .hero-image {
    width: 95%;
  }
}

li {
  list-style-type: none;
}

/* For underline on hover
.link {
  color: black;
  text-decoration: none;
  position: relative;
}

/* 
.link:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0px;
  height: 1px;
  background: #333;
  transition: all 0.45s;
} */

/* .link:hover:after{
  color: #A3B18A;
  width: 100%;
  left: 0;
} */ 

.nav-link{
  text-decoration: none;
}

.nav-link:hover {
  color: #A3B18A
}

.active {
  color: #A3B18A;
  text-decoration: none;
}

.search-bar {
  outline-color: #A3B18A;
}

/* Search bar hover effect*/
.search-bar:hover {
  border: 2px solid #344E41;
  border-radius: 3px;
}

/* Footer CSS */
.footer {
  background: black;
}

.footer-link {
  margin: 5px;
  padding: 0;
}

/* Copyright section for footer*/
.copyright {
  background: linear-gradient(0.25turn, #3A5A40, #DAD7CD, #3A5A40);
}

/* Login CSS */
/* Login Container */

.login-bg {
  min-height: 100vh;
  background: url('./assets/silhouette-lake-green.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}
.login-container {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
}

.login-container .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.forgot-password-register-link {
  text-decoration: none;
  color: white;
}

.forgot-password-register-link:hover {
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  height: 2.5rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  font-weight: 600;
}

/* Dropdown Menu CSS
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100%, .25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.1);
  opacity: 0.5;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
} */


/* Add New Pin*/

.pin-container{
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form-container{
  width: 50%;
}

.pin-input {
  width: 70%;
  height: 100%;
}

.pin-label {
  display: inline-block;
  text-align: end;
  width: 5rem;
}

/*Pin Photo CSS*/
.pin-img {
  height: 10rem;
  width: 10rem;
}

/* Category CSS */
.category-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 24px;
}